<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - SoftSynth</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/style.css' | url }}">
    <link rel="shortcut icon" href="{{ '/favicon.ico' | url }}">
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-79HEJDRKRP"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-79HEJDRKRP');
    </script>

    {% if extraHead %}
    {{ extraHead | safe }}
    {% endif %}
</head>
<body>
    <header>
        <div class="header-container">
            <div id="site-header">
                <a href="{{ '/' | url }}">
                    <img src="{{ '/images/softsynth_logo.png' | url }}" alt="SoftSynth Logo" width="200" height="auto" border="0">
                </a>
                <div id="midheader">
                    <h1>SoftSynth</h1>
                    <h2>... music and computers ...</h2>
                </div>
            </div>
            
            <nav class="main-nav">
                {{ collections.all | eleventyNavigation | eleventyNavigationToHtml({
                    listElement: "ul",
                    listItemElement: "li",
                    listClass: "nav-list",
                    listItemClass: "nav-item",
                    activeListItemClass: "active",
                    activeKey: eleventyNavigation.key
                }) | safe }}
            </nav>

            <button class="nav-toggle-btn" aria-label="Toggle Navigation" onclick="document.body.classList.toggle('menu-open')">
                <span></span>
            </button>
        </div>
    </header>

    <div class="app-wrapper">
        <main>
            <h2>{{ title }}</h2>
            {{ content | safe }}
        </main>
    </div>
    
    <footer>
        <p>&copy; {{ page.date.getFullYear() }} SoftSynth.com. Generated with Eleventy.</p>
    </footer>
</body>
</html>
